{
  auto_https off
}

http://localhost:3000 {
  log
  reverse_proxy 0api:3000
}

:8500 {
  reverse_proxy consul1:8500 consul2:8500 consul3:8500
}

:8600 {
  reverse_proxy consul1:8600 consul2:8600 consul3:8600
}
